* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  transition: 0.3s background-color;
}

:root {
  --divider: rgba(255, 255, 255, 0.23);
  --main: #dba34e;
  --secondary: #1a1b22;
  --secondary-dark: #16161e;
  --text-primary: #d6d6d6;
  --text-light: #ffffff;
  //New Styles
  --dark-menuList: #1a1b22;
  --dark-menuList-border: #1a1b22;
  --dark-menuList-shadow: #1a1b22;
  --dark-menuItem-text: #d6d6d6;
  --dark-menuItem-divider: rgba(255, 255, 255, 0.23);
  --dark-header-bg: #16161e;
  --dark-header-divider: rgba(255, 255, 255, 0.23);
  --dark-header-profileBtn: #d6d6d6;
}

.light {
  --divider: rgba(0, 0, 0, 0.23);
  --main: #dba34e;
  --secondary: #d6d6d6;
  --secondary-dark: #ffffff;
  --text-primary: #1a1b22;
  --text-light: #16161e;
}

body {
  color: #e8e8e8;
}

#root {
  min-height: 100vh;
}

.-color_primary {
  color: var(--main) !important;
}

.quill {
  display: flex;
  flex-direction: column;
  min-height: 200px;

  &.comments-show {
    min-height: auto;

    .ql-container,
    .ql-toolbar {
      border: none;
    }
  }
}

.ql-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.readOnly .ql-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ql-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ql-container,
.quill {
  background: var(--secondary);
}

.ql-container,
.ql-toolbar {
  border-color: var(--divider) !important;
}

.ql-formats {
  display: inline-flex !important;
  align-items: center;
  gap: 5px;
}

.ql-formats button,
.ql-formats .ql-picker {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 33px !important;
  height: 33px !important;
  background: var(--secondary) !important;
  border: none;
  border-radius: 5px;

  &.ql-active {
    background: var(--main) !important;
  }
}

.ql-font.ql-picker {
  width: 108px !important;
}

.ql-formats button path,
.ql-formats button line,
.ql-formats button rect,
.ql-formats .ql-picker path,
.ql-formats .ql-picker line,
.ql-formats .ql-picker rect,
.ql-formats .ql-picker polyline {
  stroke: var(--text-primary) !important;
  opacity: 1 !important;
}

.ql-formats button.ql-active path,
.ql-formats button.ql-active line,
.ql-formats button.ql-active rect,
.ql-formats .ql-picker.ql-active path,
.ql-formats .ql-picker.ql-active line,
.ql-formats .ql-picker.ql-active rect,
.ql-formats .ql-picker.ql-active polyline {
  stroke: var(--secondary-dark) !important;
}

.ql-formats button:hover,
.ql-formats .ql-picker:hover {
  background: #a97e23 !important;

  &:not(.ql-align) {
    & path,
    & line,
    & rect {
      stroke: var(--secondary-dark) !important;
    }
  }
}

.ql-picker-label {
  display: flex !important;
  align-items: center !important;
  border: none !important;
  polygon {
    stroke: var(--text-primary) !important;
  }
  color: var(--text-primary) !important;

  &:hover {
    polygon {
      stroke: var(--text-light) !important;
    }
    color: var(--text-light) !important;
  }
}

.ql-picker-item {
  color: var(--text-primary) !important;

  &:hover {
    color: var(--text-light) !important;
  }
}

.ql-picker-options {
  border-radius: 5px;
  background: var(--secondary-dark) !important;
  border-color: var(--divider) !important;
}

.MuiDataGrid-cellContent,
.MuiDataGrid-columnHeaderTitle {
  font-size: 16px;
}
