* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu !important;
  transition: .3s background-color;
}

.light {
  --divider: rgba(0, 0, 0, .23);
  --main: #DBA34E;
  --secondary: #D6D6D6;
  --secondary-dark: #FFFFFF;
  --text-primary: #1A1B22;
  --text-light: #16161e;
}

.dark {
  --divider: rgba(255, 255, 255, .23);
  --main: #DBA34E;
  --secondary: #1A1B22;
  --secondary-dark: #16161e;
  --text-primary: #D6D6D6;
  --text-light: #FFFFFF;
}

body {
  color: #e8e8e8;
}

#root {
  min-height: 100vh;
}

.b-navLink {
  margin: 0;
  padding: 0 0 5px;
  font: 500 20px/1 Ubuntu;
  color: var(--text-primary);
  border-bottom: 2px solid transparent;
  text-decoration: none;
  transition: .3s;

  &:hover {
    border-bottom: 2px solid var(--text-primary);
  }

  &.active {
    pointer-events: none;
    color: var(--main) !important;
    border-bottom: 2px solid var(--main);
  }
}

.quill {
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.ql-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.readOnly .ql-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ql-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ql-container, .quill {
  background: var(--secondary);
}

.ql-container, .ql-toolbar {
  border-color: var(--divider) !important;
}

.ql-formats {
  display: inline-flex !important;
  align-items: center;
  gap: 5px;
}

.ql-formats button, .ql-formats .ql-picker {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 33px !important;
  height: 33px !important;
  background: var(--secondary) !important;
  border: none;
  border-radius: 5px;

  &.ql-active {
    background: var(--main) !important;
  }
}

.ql-font.ql-picker {
  width: 108px !important;
}

.ql-formats button path, .ql-formats button line, .ql-formats button rect, .ql-formats .ql-picker path, .ql-formats .ql-picker line, .ql-formats .ql-picker rect, .ql-formats .ql-picker polyline {
  stroke: var(--text-primary) !important;
  opacity: 1 !important;
}

.ql-formats button.ql-active path, .ql-formats button.ql-active line, .ql-formats button.ql-active rect, .ql-formats .ql-picker.ql-active path, .ql-formats .ql-picker.ql-active line, .ql-formats .ql-picker.ql-active rect, .ql-formats .ql-picker.ql-active polyline  {
  stroke: var(--secondary-dark) !important;
}

.ql-formats button:hover, .ql-formats .ql-picker:hover  {
  background: #a97e23 !important;

  & path, & line, & rect {
    stroke: var(--secondary-dark) !important;
  }
}

.ql-picker-label {
  display: flex !important;
  align-items: center !important;
  border: none !important;
  polygon {
    stroke: var(--text-primary) !important;
  }
  color: var(--text-primary) !important;

  &:hover {
    polygon {
      stroke: var(--text-light) !important;
    }
    color: var(--text-light) !important;
  }
}

.ql-picker-item{
  color: var(--text-primary) !important;

  &:hover {
    color: var(--text-light) !important;
  }
}

.ql-picker-options {
  border-radius: 5px;
  background: var(--secondary-dark) !important;
  border-color: var(--divider) !important;
}

.MuiDataGrid-cellContent, .MuiDataGrid-columnHeaderTitle {
  font-size: 16px;
}
